*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.App{
    width: 50%;
    height: 50vh;
    border: 3px solid burlywood;
    margin: auto;
    margin-top: 8%;
    background-color: antiquewhite;
}

button{
    width:20vw;
    height:5vh;
    background-color: blueviolet;
    margin-left: 30%;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.reset{
    margin-top: 10%;
}

.score{
    background-color: yellow;
    margin-left: 25%;
    width: 50%;
    margin-top: 10px;
    text-align: center;
}

span{
    color: green;
    font-size: 30px;
}
