body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

.navbar a img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
.navbar a:hover{
    background-color: transparent;
}

span{
    position: absolute;
    left: 67%;
    top: 1%;
     color: yellow;
     font-size: 18px;
     font-weight: 800;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}